<Config>
  <Port>7878</Port>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>9899</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>5c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f</ApiKey>
  <AuthenticationMethod>External</AuthenticationMethod>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <Branch>master</Branch>
  <LogLevel>info</LogLevel>
  <SslCertPath></SslCertPath>
  <SslKeyPath></SslKeyPath>
  <SslCertPassword></SslCertPassword>
  <ReseedLimit>0</ReseedLimit>
</Config>
