**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea

**/bin
**/obj
**/_output
**/_temp
**/_tests

**/node_modules

**/*.md
**/LICENSE

**/Logo

**/.dockerignore
**/Dockerfile
**/docker-compose.yml
**/docker-compose*.yml

**/*.user
**/*.suo
**/*.log
